@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

*{
    font-family: 'Sora', sans-serif;
 }
body {
    font-size: large;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    max-height: 100px;
    background-color: #8c52ff;
    align-items: center;
    font-size: large;
}


.logo {
    display: flex;
    align-items: center;
}

.logo a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
}
.logo a:hover {
    border-bottom: 3px solid white;
    transition: 0.1s;
}

.logo img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    font-weight: 600px;
    margin-right: 10px;
    padding-bottom: 3px;
    text-decoration: none;
    color: white;
}

.nav a:hover {
    border-bottom: 3px solid white;
    color: #efefef;
    transition: 0.1s;
}

.nav span {
    margin-right: 10px;
    padding-bottom: 3px;
    font-size: xx-large;
    color: white;
}

.nav span:hover {
    background: none;
}
