@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

*{
    font-family: 'Sora', sans-serif;
 }
body {
    font-size: large;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #8c52ff;
    align-items: center;
    padding: 5px;
}



.logo {
    display: flex;
    align-items: center;
}

.logo a {
    margin-right: 10px;
    font-weight: 600px;
    text-decoration: none;
    color: white;
}

.logo img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.nav-link {
    font-weight: 600px;
    margin-right: 10px;
    padding-bottom: 3px;
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    border-bottom: 3px solid white;
    color: #efefef;
    transition: 0.1s;
}


nav .nav-link svg {
    align-items: center;
}
